/* Adjusting the width and presentation of the select2 box and options */
.select2-container--default .select2-selection--single {
    height: 48px; /* Increased height for better visibility */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 46px; /* Aligning text vertically */
}

.select2-container {
    min-width: 400px  /* Adjust as necessary */
}

.player-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px; /* Adjust based on your design preference */
}

.player-grid span {
    flex-basis: calc(50% - 10px); /* Adjusting for any potential margin/padding */
    margin-bottom: 10px; /* Space between rows */
}
