/* styles.css */
.player-details {
    padding: 20px;
}

.details-grid {
    display: grid;
    grid-template-columns: auto auto; /* Creates two columns */
    gap: 10px; /* Adds a small space between grid items */
    align-items: start;
}

.details-grid div {
    margin-bottom: 5px; /* Adds a little vertical space between items */
}
