<!-- Player Skills Chart Component -->
<div class="player-skills-chart">
    <canvas id="skillsChart"></canvas>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const playerId = {{ player_details['PlayerID'] | tojson | safe }};
    fetch(`/get_player_chart_data/${playerId}`)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('skillsChart').getContext('2d');
            const chartData = {
                labels: ['Batting', 'Bowling', 'Keeping', 'Fielding', 'Endurance', 'Technique', 'Power'],
                datasets: [
                    {
                        label: 'Known Skills',
                        data: data.known_skills,
                        backgroundColor: 'rgba(127, 201, 127, 0.7)',
                        stack: 'Stack 0'
                    },
                    {
                        label: 'Distributed Spare Rating',
                        data: data.estimated_spare,
                        backgroundColor: 'rgba(209, 198, 225,0.8)',
                        stack: 'Stack 0'
                    },
                    {
                        label: 'Possible Training',
                        data: data.estimated_max_training,
                        backgroundColor: 'rgba(238,203,82,0.8)',
                        stack: 'Stack 0'
                    }
                ]
            };
            const options = {
                scales: {
                    x: {
                        stacked: true
                    },
                    y: {
                        stacked: true,
                        beginAtZero: true,
                        ticks: {
                            callback: function(value) {
                                // This callback could still be used to format ticks if necessary.
                                return value;
                            },
                            stepSize: 1000  // Adjust this step size based on your data range and preferred granularity
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: true
                    }
                }
            };
            new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: options
            });
        });
});
</script>

