<!-- Player Skills Chart Component -->
<div class="player-skills-chart">
    <canvas id="skillsChart"></canvas>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const playerTrainingEstimates = {{ player_training_estimates | tojson | safe }};
    const ctx = document.getElementById('skillsChart').getContext('2d');
    const skillNames = ['Batting', 'Bowling', 'Keeping', 'Fielding', 'Endurance', 'Technique', 'Power'];
    const SKILL_LEVELS = ['atrocious', 'dreadful', 'poor', 'ordinary', 'average', 'reasonable', 'capable', 'reliable', 'accomplished', 'expert', 'outstanding', 'spectacular', 'exceptional', 'world class', 'elite', 'legendary'];

    const datasets = [
        {
            label: 'Known Skills',
            data: playerTrainingEstimates.known_skills,
            backgroundColor: 'rgba(127, 201, 127, 0.7)',
            stack: 'Stack 0'
        },
        {
            label: 'Estimated Spare Rating',
            data: playerTrainingEstimates.estimated_spare,
            backgroundColor: 'rgba(209, 198, 225,0.8)',
            stack: 'Stack 0'
        }
    ];

    // Add the third dataset if it exists and contains data
    if (playerTrainingEstimates.estimated_max_training && playerTrainingEstimates.estimated_max_training.some(x => x > 0)) {
        datasets.push({
            label: 'Possible Training',
            data: playerTrainingEstimates.estimated_max_training,
            backgroundColor: 'rgba(238,203,82,0.8)',
            stack: 'Stack 0'
        });
    }

    // Add the Predicted Training dataset if it exists
    if (playerTrainingEstimates.predicted_training && playerTrainingEstimates.predicted_training.some(x => x > 0)) {
        datasets.push({
            label: 'Predicted Training',
            data: playerTrainingEstimates.predicted_training,
            backgroundColor: 'rgba(255,99,132,0.8)',
            stack: 'Stack 0'
        });
    }

    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: skillNames,
            datasets: datasets
        },
        options: {
            scales: {
                x: { stacked: true },
                y: {
                    stacked: true,
                    beginAtZero: true,
                    ticks: {
                        callback: function(value, index, ticks) {
                            return SKILL_LEVELS[Math.floor(value / 1000)];
                        },
                        stepSize: 1000
                    }
                }
            },
            plugins: {
                legend: {
                    display: true
                }
            }
        }
    });
});
</script>