<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Skills</title>
    <link href="https://cdn.jsdelivr.net/npm/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/static/css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/updateResultDisplay.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2/dist/js/select2.min.js"></script>
</head>
<body>
    <select id="playerSelect"></select>
    <div id="playerDetails"></div>
    <div id="skillsContainer">
        <canvas id="skillsChart"></canvas>
    </div>

    <script>
    $(document).ready(function() {
        var playerIds = [];
        var currentIndex = 0;

        $('#playerSelect').select2({
            placeholder: "Select a player",
            allowClear: true,
            width: '100%'
        }).on('select2:select', function(e) {
            var playerId = e.params.data.id;
            currentIndex = playerIds.indexOf(playerId); // Update currentIndex on selection
            loadPlayerDetailsAndSkills(playerId);
        });

        $.ajax({
            type: 'GET',
            url: '/get_players_in_database',
            success: function(response) {
                var groupedData = groupPlayersByTeam(response.players);
                $('#playerSelect').empty().select2({
                    data: groupedData,
                    placeholder: "Select a player",
                    allowClear: true
                });

                playerIds = response.players.map(player => player[1]);
                if (groupedData.length > 0 && groupedData[0].children && groupedData[0].children.length > 0) {
                    const firstPlayerId = groupedData[0].children[0].id;
                    currentIndex = playerIds.indexOf(firstPlayerId);
                    $('#playerSelect').val(firstPlayerId).trigger('change');
                }
            }
        });

        $('#prevPlayer').click(function() {
            if (currentIndex > 0) {
                currentIndex -= 1;
                $('#playerSelect').val(playerIds[currentIndex]).trigger('change');
            }
        });

        $('#nextPlayer').click(function() {
            if (currentIndex < playerIds.length - 1) {
                currentIndex += 1;
                $('#playerSelect').val(playerIds[currentIndex]).trigger('change');
            }
        });
    });

    </script>
</body>
</html>
