{% extends "base.html" %}

{% block title %}
    View Player
{% endblock %}

{% block content %}
    <div id="playerContainer">
        <form action="" method="get">
            <label for="source">Choose a data source:</label>
            <select name="source" id="source" onchange="this.form.submit()">
                <option value="live" {% if source == 'live' %}selected{% endif %}>Live View</option>
                <option value="team" {% if source == 'team' %}selected{% endif %}>Team Archive</option>
                <option value="market" {% if source == 'market' %}selected{% endif %}>Market Archive</option>
            </select>
        </form>

        <br>
        <a href="{{ url_for('training_simulator', playerid=player_details['PlayerID']) }}" class="btn btn-primary btn-lg mt-3 mb-3">
            <i class="fas fa-dumbbell mr-2"></i> Open Training Simulator
            <i class="fas fa-external-link-alt ml-2"></i>
        </a>

        {% include '_player_details.html' %}
        {% include '_player_skills_chart.html' %}
        <hr>
        {% include '_player_training_history_table.html' %}
    </div>
{% endblock %}
